* {
    background-color: #7a0101;
}
.header {
    font-family: "Brush Script MT", "Times New Roman", Georgia;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    font-variant: small-caps;
    color: rgb(0, 140, 69)
}
.lasagna-img img {
    height: auto;
    width: 500px;
}
.zwiebelrostbraten-img img {
    height: auto;
    width: 500px;
}
.one-pot-pasta-img img {
    height: auto;
    width: 500px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.ing-header {
    font-family: "Brush Script MT", "Times New Roman", Georgia;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    font-variant: small-caps;
    color: rgb(133, 163, 0)
}
.text {
    font-family: "Brush Script MT", "Times New Roman", Georgia;
    text-align: center;
    font-style: italic;
    color: rgb(235, 235, 235);
}

li {
    list-style: none;
}